<p>
  <pr-pony *ngFor="let currentPony of ponies" [pony]="currentPony"></pr-pony>
</p>

<p *ngIf="ponySelected!==undefined">
  poney selectionné :
  <pr-pony [pony]="pony" (ponySelected)="betOnPony($event)"></pr-pony>
</p>
