<nav class="navbar navbar-light navbar-toggleable-md fixed-top bg-faded">
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">PonyRacer</a>
  <div id="navbar" class="navbar-collapse" [ngClass]="{'collapse':this.navbarCollapsed}">
    <div class="nav navbar-nav mr-auto">
      <a class="nav-item nav-link">Races</a>
    </div>
  </div>
</nav>
