<pr-menu></pr-menu>
<div class="container" style="margin-top: 90px;">
  <h1>Ponyracer</h1>
</div>

<h2>module pr-races :</h2>
<pr-races></pr-races>

<!-- <h2> list()|json </h2>

list est un observable :<br/>
<em>brut :</em><br/>
{{ listBrut()|json }}<br/>
<em>avec |async (Quand on ne subscribe pas dans le ts mais qu'on a un Observable directement)) :</em><br/>
 {{ listBrut()|async|json }}<br/>
<em>quand on modifie list() pour que ça subscribe vers une propriété races depuis l'observable raceService.list() :</em><br/>
{{ racesBrut|json }}<br/>
<li *ngFor="let race of races">
  <span>{{racesBrut.name}}</span>
</li>
 <li *ngFor="let place of list()|slice:0:4 as total; index as i">
  <span>{{place.name}} {{i+1}}/{{total.length}}</span>
</li>  -->


<br/>
<br/>
<br/>

<h2> module pr-ponies </h2>

<pr-ponies></pr-ponies>

